<div class="page-container">
  <%= render :partial => "rooms/nav_bar" %>
  <div class="rooms" style="background-image:url(<%= image_path('background-letters.jpg') %>)">
    <h2>Rooms</h2>
    <% @rooms.each do |room| %>
      <div class="room-list">
        <div class="room-name">
          <p><%= room.name %></p>
        </div>
        <div class="room-link">
          <p> <%= link_to 'Show', room %></p>
        </div>
        <div class="room-edit">
          <p><%= link_to 'Edit', edit_room_path(room) %></p>
        </div>
        <div class="room-delete">
          <p><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
    <%= link_to 'New Room', new_room_path, class:"add-room" %>
  </div>
</div>
