<div class="page-container">
  <%= render :partial => "rooms/nav_bar" %>
  <div class="links">
    <!--  <%= link_to 'Edit', edit_room_path(@room) %> | -->

  </div>
  <div class="rooms" style="background-image:url(<%= image_path('background-letters.jpg') %>)">
    <h2 class="room-header">You're in the <%= @room.name %> room</h2>
    <% @messages.each do |m| %>
      <% if m.user == current_user %>
        <div class="message user">
          <p><%= m.user.name %>: <%= m.content %></p>
          <p><%= m.created_at.time %></p>
        </div>
      <% else %>
        <div class="message">
        <p ><%= m.user.name %>: <%= m.content %></p>
        <p><%= m.created_at %></p>
      </div>
      <% end %>
    <% end %>
    <div class="new-message">
      <%= form_for(:message, url: room_messages_path(@room)) do |f| %>
        <%= f.text_area :content, class:"message-box" %><br />
        <%= f.submit "Post message", class:"post-btn" %>
      <% end %>
    </div>
  </div>


    <meta http-equiv="refresh" content="5" >
    <!-- refresh page every 5 seconds -->
