      <div class="show_room">
        <div class="room_inner_bar">
          <a href="<%=room_path(@last_room||=@room)%>"> <i class="fas fa-arrow-circle-left"></i></a>
          <%= link_to @room.name_capitalised, @room %>
          <% if user_signed_in? %>
          <a href="<%=room_path(@next_room||=@room)%>"> <i class="fas fa-arrow-circle-right"></i></a>
          <a> <i class="fas fa-pencil-alt"></i></a>
          <% end %>
        </div>
      </div>

      <div class="message_area">
        <% @messages.each do |m| %>
          <div class="message <% if m.user==current_user%>my_message<% else %>their_message<% end %>">
            <div class="inner" id="<%=m.id%>">
              <%="#{m.user.name.capitalize!}:  #{m.content}"%>
              <i class="fas fa-trash-alt trash_message" id="deleteId<%=m.id%>"></i>
              <span class="date"><%=m.created_at.time.to_s[5...-7] %>
              </span>
            </div>
          </div>
        <% end %>

        <%if user_signed_in? %>
        <div id="message_box" class="transition">
          <div id="message_box2" class="message_box2">
            <div id="message_box1" class="message_box1">
              <%= form_for(@message, local:false, remote: true, url: room_messages_path(@room), id:"form_input") do |f| %>
              <%= f.text_area :content, autofocus:true %><br />
              <%= f.submit '' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <% end %>

<script>

 document.addEventListener("DOMContentLoaded",function(){
  messageWindow=document.getElementsByClassName('inner')
  messageWindow.length ? messageWindow[messageWindow.length-1].scrollIntoView({block: "end"}) : null
})

var message_id
//activate animation on message_box on mouse over fa_pencil_alt
$("body").on("keyup", function(e) {
  $('#message_content').focus();
  });
$('.fa-pencil-alt').click(()=>{
  $('#message_box').toggleClass('open');
  })

//Show trash icon on mouseover message and remove on mouse leave
$('.inner').hover((e)=>{
  message_id = e.target.id
  $('#deleteId' + message_id).show()
 })
  .mouseleave(function() {
    if(!$('#deleteId' + message_id).hasClass('active')){
        $('#deleteId' + message_id).hide()
    }})

//send destroy request via ajax on trash button click after grabbing and sending CSRF token
$('.trash_message').click(function(){
  if (confirm('are you sure you want to delete this message?')){
    $.ajax({
            url: '/rooms/<%=@room.id%>/messages/' + message_id,
            type: 'DELETE',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
        }).done(()=>{console.log('yo')})}
})
//submit text area on return
$('#message_content').keypress(function(e){
      if(e.which == 13){
           $(this).closest('form').submit();
       }
    });
</script>
