
<button onClick="window.location='<%=new_room_path%>';" id="new_room" class="_button _button-5">New Room</button>
  <div id="form_position"><div class="back_plate2">
    <div id="room_bar3" class="room_bar3">
      <div id="room_bar4" class="room_bar4"><%= link_to @room.name_capitalised, @room %>
        <div class="tools">
          <a href="<%=edit_room_path(@room)%>"> <i class="fas fa-pencil-alt"></i></a>
          <a href="<%=rooms_path%>"> <i class="fas fa-arrow-circle-left"></i></a>
        </div>
      </div>
    </div>

    <div class="message_area">
      <% @messages.each do |m| %>
        <%if m.user==current_user%>
          <div id="my_message" class="my_message">
            <%= m.user.name %>: <%= m.content %>
            <%= m.created_at.time %>
          </div>
          <div id="invisible" class="their_message"><%= m.content %></div>
        <%else%>
          <div id="their_message" class="their_message" style="width:<%=m.content.length+7%>%!important">
            <%= m.user.name %>: <%= m.content %>
            <%= m.created_at.time %>
          </div>
          <div id="invisible" class="my_message"><%= m.content %></div>
        <% end %>
      <% end %>
     
   </div>
  <meta http-equiv="refresh" content="5">
  <!-- refresh page every 5 seconds -->
</div>
</div>
</button>
